body {
    font-family: 'Raleway', sans-serif;
}

.job-posting {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .05), 0 2px 6px rgba(0, 0, 0, .15);
}

.navbar-brand {
    margin-right: 0;
}

.navbar-brand img {
    width: 100%;
}

.btn.btn-primary {
    background: #849c3d;
    border-color: #849c3d;
}

.btn.btn-primary:hover {
    background: #506416 !important;
    border-color: #506416 !important;
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100%;
    }

    .navbar .container-fluid {
        flex-direction: column;
    }

    .navbar .navbar-nav .nav-item {
        padding: 0.5em 1em;
    }

    .navbar-nav {
        border-bottom: 2px solid #fff;
    }
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
}

.navbar .navbar-nav {
    border-top: 2px solid #fff;
    margin-top: 0.5em;
}

.navbar {
    margin-top: -17px !important;
  }







